---
// 引入 InfoSection 组件
import InfoSection from './InfoSection.astro';
---

<!-- <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8"> -->
<div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 w-[100%]">
  <InfoSection
    title="Support x Simulation"
    description="Train robots from state and/or visual inputs fast. ManiSkill/SAPIEN achieves 10-100x visual data collection speeds compared to other platforms. Simulate and render RGB-D in parallel up towards 30,000+FPS!"
    image="/features/feature1.PNG"
  />
  
  <InfoSection
    title="Support Reddit Simulation"
    description="Train robots on 40+ skills/tasks with 2,000+ objects ready-to-use, millions of frames of demonstrations available, and dense reward functions. You don't have to collect assets or design tasks by yourself, and can focus on algorithms!"
    image="/features/feature2.PNG"
  />

  <InfoSection
  title="Support Large-scale Simulation(Up To One Million)"
  description="Train robots on 40+ skills/tasks with 2,000+ objects ready-to-use, millions of frames of demonstrations available, and dense reward functions. You don't have to collect assets or design tasks by yourself, and can focus on algorithms!"
  image="/features/feature3.PNG"
/>
</div>
