---
import Header from '~/components/widgets/Header.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
// import Content from '~/components/widgets/Content.astro';

import { headerData } from '~/navigation';
// import FAQs from '~/components/widgets/FAQs.astro';
// import Brands from '~/components/widgets/Brands.astro';
// import Timezone from '~/components/widgets/Timezone.astro';
import Layout from '~/layouts/PageLayout.astro';
// import Testimonials from '~/components/widgets/Testimonials.astro';
// import Button from '~/components/ui/Button.astro';

import FeaturesSection from '~/components/list/FeaturesSection.astro';
import InfoDisplay from '~/components/structure/InfoDisplay.astro';
import CardGrid from '~/components/card/CardGrid.astro';
import DemoSection from '~/components/demo/DemoSection.astro';

import ModuleWrapper from '~/components/ModuleWrapper.astro';

const metadata = {
  title: 'OASIS',
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header {...headerData} isSticky />
  </Fragment>

  <Hero2 tagline="">
    <!-- 传入介绍文字到 intro 插槽 -->
    <Fragment slot="intro">
      <p class="text-black text-lg font-semibold mt-4 mb-4">
        An open-sourced million-scale agents social media simulator.
      </p>
    </Fragment>

    <Fragment slot="subtitle">
      Ziyi Yang, Zaibin Zhang, ...<br />
      <span class="text-slate-500">1.Shanghai AI Lab 2.Shanghai AI Lab ...</span><br />
      <span class="text-slate-300">Arxiv. Tutorial. Data. Discuss. Code</span>
    </Fragment>

    <Fragment slot="title"> OASIS: Open Agents Social Interaction Simulations on a Large Scale </Fragment>

    <div class="flex justify-center mt-4">
      <img src="/top/main1.png" alt="Placeholder for video" class="rounded-md w-[640px] h-[360px] object-cover" />
    </div>
  </Hero2>

  <!-- Features 区域 -->
  <ModuleWrapper title="Key Features" subtitle="Core functionalities of the OASIS project" gap="mb-12">
    <FeaturesSection />
  </ModuleWrapper>

  <!-- InfoDisplay 区域 -->
  <ModuleWrapper title="System Structure" subtitle="A breakdown of system components" gap="mb-12">
    <InfoDisplay
      imageSrc="/structure/structure1.png"
      modules={[
        {
          title: 'Environment Server (Information Channel)',
          description: 'Supports dynamic networks and manages agent interactions.',
        },
        {
          title: 'Recommendation System (Information filter)',
          description: 'Filters information and supports interest-based search.',
        },
        { title: 'Agent Module', description: 'Provides 21 different actions for agents to perform.' },
        { title: 'Scalable Design', description: 'Supports interactions for up to one million agents.' },
      ]}
    />
  </ModuleWrapper>

  <!-- CardGrid 区域 -->
  <ModuleWrapper title="Additional Resources" subtitle="Further documentation and tutorials" gap="mb-12">
    <CardGrid />
  </ModuleWrapper>

  <!-- Demo 区域 -->
  <ModuleWrapper title="Demo" subtitle="Explore the simulation capabilities of the system" gap="mb-12">
    <DemoSection
      description="Understand the scenarios and capabilities of agents within the OASIS simulation environment."
      points={[
        'Agents can interact on platforms such as Twitter and Reddit.',
        'Supports up to one million agents for large-scale simulations.',
        'Allows case studies for each individual agent, analyzing their behavior and interactions.',
      ]}
    />
  </ModuleWrapper>

  <!-- "Overview Organizers FAQS" -->
  <!-- <Content id="Overview">
    <Fragment slot="title">Overview</Fragment>
    <Fragment slot="content">
      With the rapid development of foundation models in recent years, AI agents built on these models are beginning to
      exhibit emergent capabilities that surpass human performance in certain tasks.
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Brands
    id="Organizers"
    title="Organizing Committee"
    icons={[]}
    images={[
      {
        src: '/organizer01.png',
        alt: 'organizer01',
        name: 'Zhenfei Yin',
        university: 'USYD',
        bioLink: 'https://scholar.google.com.hk/citations?user=ngPR1dIAAAAJ&hl=zh-CN',
      },
      {
        src: '/organizer12.png',
        alt: 'organizer12',
        name: 'Zhenhua Xu',
        university: 'HKU',
        bioLink: 'https://tonyxuqaq.github.io/',
      },
    ]}
  />

  <FAQs
    title="Submission Q&A"
    items={[
      {
        title: 'What is the deadline for submission?',
        description: 'The deadline for submission is May 23, 2024, anywhere in the world.',
        icon: 'tabler:help-octagon',
      },
      {
        title: 'What is the page-limit for the submissions(4-pages, 8-pages, with or without references)? ',
        description: 'The page limit for submissions is 4 pages, without references.',
        icon: 'tabler:help-octagon',
      },
      {
        title: 'What template do we use for the submission?',
        description: 'The template should be the same as the one used for ICML 2024 submissions.',
        icon: 'tabler:help-octagon',
      },
      {
        title: 'Are papers previously presented at other conferences accepted?',
        description:
          'Yes, papers previously presented at other conferences are accepted. If submitting a paper previously accepted at another conference, a copy of the acceptance notification email must be provided.',
        icon: 'tabler:help-octagon',
      },
      {
        title: 'Is it fine if we submit our work to a different conference at the same time as the workshop?',
        description:
          "Yes, it's acceptable to submit your work to a different conference at the same time as our workshop.",
        icon: 'tabler:help-octagon',
      },
      {
        title: 'Will the papers be archived/will there be proceedings?',
        description:
          'Accepted papers will not be included in the proceedings but will have a poster presentation on the day of the workshop.',
        icon: 'tabler:help-octagon',
      },
      {
        title: 'Is anonymized submission required for papers?',
        description:
          'Yes, all submitted papers must be anonymized. Papers previously accepted at other conferences do not need to be anonymized.',
        icon: 'tabler:help-octagon',
      },
      {
        title: 'Is supplementary material allowed? What formats are supported?',
        description: 'Yes, supplementary material is optional, and supported formats include pdf, mp4, and zip.',
        icon: 'tabler:help-octagon',
      },
      {
        title: 'How will papers be reviewed?',
        description: 'All papers will be peer-reviewed by three experts in the field in a double-blind manner.',
        icon: 'tabler:help-octagon',
      },
    ]}
  /> -->

  <script>
    const button = document.getElementById('toggleButton');
    const content = document.getElementById('content');
    let isOpen = false;
    if (button && content) {
      button.addEventListener('click', () => {
        if (!isOpen) {
          content.style.maxHeight = content.scrollHeight + 'px';
          button.textContent = 'Collapse';
          isOpen = true;
        } else {
          content.style.maxHeight = '';
          button.textContent = 'Expand';
          isOpen = false;
        }
      });
    }
  </script>
</Layout>
